# Server port
PORT=4000

# Application stage (e.g., dev, prod)
STAGE=dev

# GraphQL configuration
GRAPHQL_INTROSPECTION=true

# PostgreSQL
PG_USER=postgres
PG_PASSWORD=Abcd@1234
PG_DB=gql_template
PG_HOST=localhost
PG_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=admin
REDIS_DB=0